<!DOCTYPE html>
  <html lang="en">
    <head>
      <title>{% block title %} {{ title }} {% endblock %}| The Psychiathist</title>
        <!--Let browser know website is optimized for mobile-->
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta charset="utf-8">
        <link rel="icon" type="image/png" href="{{ url_for('static', filename='images/navtitle-1.png')}}" sizes="36x36">
        <!--Import Google Icon Font-->
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <!--Import materialize.css-->
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/materialize.css')}}">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css')}}" media="screen,projection">
    </head>

    <body>
      <nav class="white" role="navigation">
        <div class="nav-wrapper container">
            <a href="{{ url_for('main.index')}}" class="brand-logo"><img src="{{ url_for('static', filename='images/navtitle.png')}}"></a>
            <ul class="right hide-on-med-and-down">
              <li><a class="blue-text" href="{{ url_for('main.logout')}}">Logout</a></li>
            </ul>
            <ul id="nav-mobile" class="sidenav">
              <li><a class="blue-text" href="{{ url_for('main.logout')}}">Logout</a></li>
            </ul>
            <a href="#" data-target="nav-mobile" class="sidenav-thigger"><i class="material-icons blue-text">menu</i></a>
        </div>
      </nav>
      
    <div class=" cyan lighten-1"> 
      <div class="section no-pad-bot">
        <div class="container">
          <br><br>
          <h1 class="header center blue-text text-darken-1">The Psychiatrist</h1>
          <div class="row center">
            <h5 class="header col s12 white-text light">Once you choose hope, anything’s possible</h5>
          </div>
          <br><br>
        </div>
      </div>
    </div>

    <div class="container">
        <h1 class="center">Cases</h1>
        <br>
        <div class="center">
          <a class="waves-effect waves-light btn-small " onClick="get_cases()">Refresh</a>
          <br><br>
        </div>
        
        <table id="myTable" class="table-responsive" style="border:1px solid black;">
          <thead>
              <tr>
                <th style="word-wrap: break-word; max-width: 150px;">ID</th>
                <th style="word-wrap: break-word; max-width: 150px;">Tweet</th>
                <th style="word-wrap: break-word; max-width: 150px;">Profile Link</th>
                <th style="word-wrap: break-word; max-width: 150px;">Tweet Link</th>
                <th style="word-wrap: break-word; max-width: 150px;">Status</th>
                <th style="word-wrap: break-word; max-width: 150px;">Update Status</th>
                <th style="word-wrap: break-word; max-width: 150px;">Delete Case</th>
              </tr>
        </thead>
        <tbody id="case_table">
          <tr>
            <td>
              <div class="preloader-wrapper small active">
                <div class="spinner-layer spinner-green-only">
                  <div class="circle-clipper left">
                    <div class="circle"></div>
                  </div><div class="gap-patch">
                    <div class="circle"></div>
                  </div><div class="circle-clipper right">
                    <div class="circle"></div>
                  </div>
                </div>
              </div>
            </td>
            <td>
              <div class="preloader-wrapper small active">
                <div class="spinner-layer spinner-green-only">
                  <div class="circle-clipper left">
                    <div class="circle"></div>
                  </div><div class="gap-patch">
                    <div class="circle"></div>
                  </div><div class="circle-clipper right">
                    <div class="circle"></div>
                  </div>
                </div>
              </div>
            </td>
            <td>
              <div class="preloader-wrapper small active">
                <div class="spinner-layer spinner-green-only">
                  <div class="circle-clipper left">
                    <div class="circle"></div>
                  </div><div class="gap-patch">
                    <div class="circle"></div>
                  </div><div class="circle-clipper right">
                    <div class="circle"></div>
                  </div>
                </div>
              </div>
            </td>
            <td>
              <div class="preloader-wrapper small active">
                <div class="spinner-layer spinner-green-only">
                  <div class="circle-clipper left">
                    <div class="circle"></div>
                  </div><div class="gap-patch">
                    <div class="circle"></div>
                  </div><div class="circle-clipper right">
                    <div class="circle"></div>
                  </div>
                </div>
              </div>
            </td>
            <td>
              <div class="preloader-wrapper small active">
                <div class="spinner-layer spinner-green-only">
                  <div class="circle-clipper left">
                    <div class="circle"></div>
                  </div><div class="gap-patch">
                    <div class="circle"></div>
                  </div><div class="circle-clipper right">
                    <div class="circle"></div>
                  </div>
                </div>
              </div>
            </td>
            <td>
              <div class="preloader-wrapper small active">
                <div class="spinner-layer spinner-green-only">
                  <div class="circle-clipper left">
                    <div class="circle"></div>
                  </div><div class="gap-patch">
                    <div class="circle"></div>
                  </div><div class="circle-clipper right">
                    <div class="circle"></div>
                  </div>
                </div>
              </div>
            </td>
            <td>
              <div class="preloader-wrapper small active">
                <div class="spinner-layer spinner-green-only">
                  <div class="circle-clipper left">
                    <div class="circle"></div>
                  </div><div class="gap-patch">
                    <div class="circle"></div>
                  </div><div class="circle-clipper right">
                    <div class="circle"></div>
                  </div>
                </div>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

  <br>

<footer class="page-footer cyan darken-1">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text">Bio</h5>
        <p class="grey-text text-lighten-4">We are a team of university students working on this project like it's our full time job. Any amount would help support and continue development on this project and is greatly appreciated.</p>
      </div>
      <div class="col l4 offset-l2 s12">
        <h5 class="white-text">Connect</h5>
        <ul>
          <li><i class="material-icons"><a class="grey-text text-lighten-3" href="tel:0321-45678904">call</i> 0321-45678904</a></li>
          <br>
          <li><i class="material-icons"><a class="grey-text text-lighten-3" href="mailto:the.psychiathist.gmail.com">email</i> the.psychiathist@gmail.com</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright center cyan darken-4">
    <div class="container">
      © 2021 Copyright
    </div>
  </div>
</footer>
<!--JavaScript at end of body for optimized loading-->
<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
<script src="https://cdn.datatables.net/1.10.13/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/materialize.js')}}"></script>

<script type="text/javascript" charset="utf-8" async defer>
function get_cases(){
  document.getElementById("case_table").innerHTML = "";
  $.get("{{ url_for('main.get_cases') }}", function(data, status) {
    if (status == "success") {
      cases = data["cases"]
      html_content = ""
      for (i = 0; i < cases.length; i++) {
        html_content += "<tr>"
        html_content += "<td style='max-width: 150px;'>" + cases[i]["id"] + "</td>"
        html_content += "<td style='max-width: 150px;'>" + cases[i]["tweet_text"] + "</td>"
        html_content += "<td style='max-width: 150px;'><a href='https://twitter.com/i/user/" + cases[i]["user_id"] + "'> View User </a></td>"
        html_content += "<td style='max-width: 150px;'><a href='https://twitter.com/twitter/status/" + cases[i]["tweet_id"] + "'> View Tweet</a></td>"
        html_content += "<td name ='status' style='max-width: 150px;'>" + cases[i]["status"] + "</td>"
        html_content += "<td><a class='waves-effect waves-light btn-small center' href='/update_status/" + cases[i]["id"] + "' class='white-text'>" + "Update" + "</a></td>"
        html_content += "<td><a class='waves-effect waves-light btn-small center' href='/delete/" + cases[i]["id"] + "' class='white-text'>" + "Delete" + "</a></td>"
        html_content += "</tr>"
      }
      document.getElementById("case_table").innerHTML = html_content;
    }
  })
};

$(document).ready( function () {
    get_cases();
});
</script>
<script type="text/javascript" src="{{ url_for('static', filename='js/init.js')}}" defer async></script>

</body>
</html>