{%extends 'base.html'%}
  {% block title %} {{title}} {% endblock %}
	{%block content %}
    <div class="cyan lighten-1"> 
      <div class="section no-pad-bot">
        <div class="container">
          <br><br>
          <h1 class="header center blue-text text-darken-1">The Psychiatrist</h1>
          <div class="row center">
            <h5 class="header col s12 white-text light">Never never never give up</h5>
          <br>
          <h5 class="header col s12 white-text light">T o m o r r o w – For All Of Us</h5>
          </div>
          <br><br>
        </div>
      </div>
    </div>

    <div class="container col s12 center">
      <h1 class="center">Contact Us</h1>
      <p class="left-align light">In case of emergency or for more information you can call us or mail us on our official email address. Folowing are our only helplines.</p>
      <ul>
        <li><b>Call Us: </b><i class="material-icons"><a class="blue-text" href="tel:0321-45678904">call</i> 0321-45678904</a></li>
        <br>
        <li><b>Mail Us: </b><i class="material-icons"><a class="blue-text" href="mailto:the.psychiatrist.gmail.com">email</i> the.psychiatrist.gmail.com</a></li>
      </ul>
    </div>

	{%endblock %}
   