{% extends 'base.html'%}

  {% block title %} {{title}} {% endblock %}

	{% block content %}
    <div class="cyan lighten-1"> 
      <div class="section no-pad-bot">
        <div class="container">
          <br><br>
          <h1 class="header center blue-text text-darken-1">The Psychiatrist</h1>
          <div class="row center">
            <h5 class="header col s12 m12 white-text light">Your life is not over, your life is important</h5>
          </div>
          <br>
        </div>
      </div>
    </div>

    <div class="container">

     <!--  Icon Section  --> 
        <div class="row">
          <div class="col s12 m4">
            <div class="icon-block">
              <h2 class="center "><i class="material-icons blue-text text-darken-3">details</i></h2>
              <h5 class="center">Application</h5>
              <p class="light">This application is 90% accurate in identifying the potentially suicidal people. Because twitter is one of the most used social platforms, this application will help in identifying suicidal people on twiiter through their tweets. This application is to provide help to the first responders to a suicidal attempt. To help them identify such persons and provide help timely.</p>
            </div>
          </div>

          <div class="col s12 m4">
            <div class="icon-block">
              <h2 class="center "><i class="material-icons blue-text text-darken-3">info_outline</i></h2>
              <h5 class="center">About</h5>
              <p class="light">This application was built for Final Year Project. Aiming to provide help to those who dont seek help for their mental problems and end up taking their lives. False Alarm is better than no alarm.</p>
            </div>
          </div>

          <div class="col s12 m4">
            <div class="icon-block">
              <h2 class="center"><i class="material-icons blue-text text-darken-3">person</i></h2>
              <h5 class="center">Creators</h5>
              <p class="light">We the creators of this application care about every person who suffers. We built this application in hope to identify people with suicidal tendencies on twitter. This is just the starting point. We hope that this project will be further developed and applied on more social platforms to identify people with such tendencies and provide them help timely.</p>
            </div>
          </div>
        </div>
    </div>
	{% endblock %}
  